* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sbe-h {
    height: 400px;
}

.sbe-h-sm {
    height: 300px;
}

.sbe-bg-1 {
    background-color: #AFEEEE;
}

.sbe-bg-2 {
    background-color: #6A5ACD;
}

.sbe-bg-3 {
    background-color: #00FA9A;
}

.sbe-bg-4 {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.sbe-bg-5 {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.sbe-bg-6 {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}

.btn-grad {
    background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 51%, #FC354C 100%)
}

.btn-grad {
    width: 110px;
    /* margin: 10px;
    padding: 10px 10px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad-1 {
    background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 51%, #FC354C 100%)
}

.btn-grad-1 {
    width: 100%;
    /* margin: 10px;
    padding: 10px 10px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
}

.btn-grad-1:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}