* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sbe-h {
    height: 400px;
}

.sbe-h-sm {
    height: 300px;
}

.sbe-bg-1 {
    background-color: #AFEEEE;
}

.sbe-bg-2 {
    background-color: #6A5ACD;
}

.sbe-bg-3 {
    background-color: #00FA9A;
}

.sbe-bg-4 {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.sbe-bg-5 {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.sbe-bg-6 {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}

.btn-grad {
    background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 51%, #FC354C 100%)
}

.btn-grad {
    width: 110px;
    /* margin: 10px;
    padding: 10px 10px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad-1 {
    background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 51%, #FC354C 100%)
}

.btn-grad-1 {
    width: 100%;
    /* margin: 10px;
    padding: 10px 10px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
}

.btn-grad-1:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* search */
.container-search .input {
    border: 0;
    outline: none;
    color: #8b7b77;
}

.search_wrap {
    width: 200px;
    /* margin: 10px auto; */

}

.search_wrap .search_box {
    position: relative;
    width: 200px;
    height: 30px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;

}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    background: #7690da;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #708bd2;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn {
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search_wrap.search_wrap_1 .search_box .input {
    padding-right: 70px;
}

.input:hover .searchbardopdoun {
    display: block;
}

/* search-dropdown */
.searchbardopdoun {
    width: 200px;
    max-height: 100px;
    float: left;
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    display: none;
    overflow: auto;
}


#list {
    list-style: none;
    width: 180px;
    height: auto;
    color: white;
    text-align: center;
}

#list:hover {
    background-color: none;
}

.animals {
    display: list-item;
    text-decoration: none;
    margin: 10px 0;
}